<div class="container">
    <h1>LOGIN</h1>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" >
        <!-- {{f.value}} -->
        <!-- <pre>{{f.value|json}}</pre> -->
        <!-- <div class="form-group">
            <label for="name">
                Name
            </label>
            <input type="text" name="name" id="" class="form-control" ngModel>
        </div> -->
        <div class="form-group">
            <label for="userName">user name</label>
            <input type="text" name="userName" [class.is-invalid]="username.touched && username.invalid" class="form-control" #username="ngModel" ngModel required>
            
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" [class.is-invalid]="pass.touched && pass.invalid" #pass="ngModel" name="password" ngModel class="form-control" required>
        </div>
       
        <!-- <div class="form-group">
            <label for="email">email</label>
            <input type="text" name="email" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="contact">phone no</label>
            <input type="text" name="contact" ngModel class="form-control">
        </div> -->
        <div>
            <button type="submit" [disabled]="f.form.invalid" style="width: 100px ;margin-top:30px; " class="btn btn-success ">Submit</button>
        </div>
    </form>
</div>